{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="header">
    <div class="row">
        <div class="col-md-5 mb-1 mb-md-0">
            <img src="{% static 'images/1.png' %}">
        </div>
        <div class="col-md-7">
            <div class="detail">
                <h2>Welcome to my Profile Page</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolorem sit maxime itaque voluptas
                    et. Delectus consequuntur, neque accusamus deleniti doloremque placeat molestiae. Quis laborum,
                    officia nostrum doloremque recusandae iusto dolorum et sit aperiam tenetur libero molestias
                    voluptatum suscipit vel nisi omnis reiciendis esse cum corporis atque necessitatibus
                    reprehenderit. Quidem dolorum dolor nostrum consequatur hic perspiciatis similique perferendis
                    minus quisquam?</p>
                <div class="content-btn">
                    <a class="btn btn-lg btn-warning" href="#">View Contents</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="skills">
    <div class="row">
        <div class="col-4">
            <div class="skill-heading shadow bg-secondary">
                <h2 class="text-warning">skills</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3 ">
            <h4 class="text-primary mb-2 mb-md-0">Programing</h4>
            <img class="pro-img" src="{% static 'images/2.png' %}" alt="">
        </div>
        <div class="col-md-4">
            <h4 class="text-primary mb-2 mb-md-0">Graphics Design</h4>
            <img class="pro-img" src="{% static 'images/4.png' %}" alt="">
        </div>
        <div class="col-md-4">
            <h4 class="text-primary pb-2 mb-2 mb-md-0">Digital Marketing</h4>
            <img class="pro-img" src="{% static 'images/8.png' %}" alt="">
        </div>
    </div>
</div>
<div class="missions bg-secondary">
    <div class="mission-heading">
        <h2 class="text-warning">Missions</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="skill-focus">
                <div class="icon">
                    <i class="fa fa-check fa-2x ico"></i>

                </div>
                <div class="txt text-white">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam perferendis inventore
                        assumenda, vitae quisquam aut voluptates repellat pariatur maiores harum sunt voluptatem?
                        Sint, aspernatur dolore aperiam debitis voluptatem ad necessitatibus.</p>
                </div>
            </div>
            <div class="skill-focus">
                <div class="icon">
                    <i class="fa fa-check fa-2x ico"></i>

                </div>
                <div class="txt text-white">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam perferendis inventore
                        assumenda, vitae quisquam aut voluptates repellat pariatur maiores harum sunt voluptatem?
                        Sint, aspernatur dolore aperiam debitis voluptatem ad necessitatibus.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="skill-focus">
                <div class="icon">
                    <i class="fa fa-check fa-2x ico"></i>

                </div>
                <div class="txt">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam perferendis inventore
                        assumenda, vitae quisquam aut voluptates repellat pariatur maiores harum sunt voluptatem?
                        Sint, aspernatur dolore aperiam debitis voluptatem ad necessitatibus.</p>
                </div>
            </div>
            <div class="skill-focus">
                <div class="icon">
                    <i class="fa fa-check fa-2x ico"></i>

                </div>
                <div class="txt ">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam perferendis inventore
                        assumenda, vitae quisquam aut voluptates repellat pariatur maiores harum sunt voluptatem?
                        Sint, aspernatur dolore aperiam debitis voluptatem ad necessitatibus.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about">
    <div class="about-heading pb-3">
        <h2 class="">About Me.</h2>
    </div>
    <div class="detail">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor illum repellat iusto quam possimus
            veritatis dignissimos numquam quos voluptate, nisi officiis debitis, quasi sit amet. Beatae optio ad,
            deleniti distinctio, tenetur, praesentium eligendi nesciunt nam neque sit libero quos repellat!
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, sunt ipsum, dolorem id perspiciatis
            aliquid enim temporibus est fuga doloremque, corporis vero voluptas blanditiis. Corrupti obcaecati
            tempore magnam deleniti modi consectetur nostrum omnis distinctio veritatis praesentium nemo
            exercitationem reprehenderit facere quaerat vel voluptates dolores, commodi minus. Quam id laborum,
            culpa mollitia officia, odit distinctio, ab saepe iure et exercitationem voluptatem?
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime blanditiis, voluptate quam suscipit neque
            adipisci itaque quae fugiat, sint dolor ipsum eligendi illo. Enim est porro, unde laboriosam numquam
            iure officia magnam in atque blanditiis id distinctio ad ex itaque esse hic accusamus pariatur
            temporibus sit incidunt. Harum, animi blanditiis.</p>
    </div>
</div>
{% endblock content %}